<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JYS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8B3FAD035DE8CCB684FD08BB79533DF22E55FB4A</string>
				<key>dateExpires</key>
				<string>2021/11/3</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T27E5Y9F7J.com.jy.date1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T27E5Y9F7J</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T27E5Y9F7J.com.jy.date1</string>
				</array>
			</dict>
			<key>name</key>
			<string>币易宝.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8f2551ca-e554-41e8-8038-b85d3852ab62</string>
				<key>name</key>
				<string>jys_2020_11_3_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T27E5Y9F7J</string>
				<key>name</key>
				<string>kun yang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
